.plus{
  text-align: center;
  margin-bottom: 40px;
}
.btn-group{
  display: flex;
  gap:10px;
  width: 70%;
  flex-flow: column;
}
.add_task_container{
  margin: 0 auto;
  width: 60%;
  background-color:  white;
  border-radius: 12px;
  padding: 8px;
}

.task_name_input{
width: 95%;
  padding:10px;
  margin: 20px;
}

.task_description_input{
  width: 95%;
  padding: 25px;
  margin: 20px;
}
.due_date {
  margin: 20px;

  padding: 12px 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}
.form-group-inline{
    display: flex;
  flex-flow: row;
  align-items: center;
}
.tag-select{
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}
.btn_add_task{
  height: 36px;
  align-items: center;
  padding: 0 40px;
  font-size: 1rem;
  background-color: $button-color;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
  white-space: nowrap;
  margin: 0 auto;
}
.btn_add_task_container{
  display: flex;
  flex-flow: row;
}