{% extends 'todo/base.html' %}

{% block content %}
  <h1>Профіль користувача: {{ profile.user.first_name }}</h1>

  <div class="mb-3">
    <p><strong>Ім'я:</strong> {{ first_name }} {{ last_name }}</p>
    <p><strong>Email:</strong> {{ profile.user.email }}</p>
  </div>

  <div class="mb-3">
    <h5>Аватар:</h5>
    {% if profile.avatar %}
      <img src="{{ profile.avatar.url }}" alt="Аватар {{ profile.user.username }}" class="rounded-circle" style="max-width: 150px; max-height: 150px;">
    {% else %}
      <p>Аватар не встановлений.</p>
    {% endif %}
  </div>

  <div class="mb-3">
    {% if profile.bio %}
      <p><strong>Про себе:</strong> {{ profile.bio }}</p>
    {% endif %}
  </div>

  <div class="mb-3">
    <a href="{% url 'user_profile:profile_edit' profile.pk %}" class="btn btn-primary">Редагувати профіль</a>
  </div>
{% endblock %}
