.btn {
  width: 100%;
  gap: 1rem;
  font-size: 1rem;
  background-color: $button-color;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s;
  white-space: nowrap;

  &:hover {
    background-color: $button-hover-color;
    transform: translateY(-1px);
    color: black;
  }
}
