<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}To-Do App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>{% block header %}To-Do List{% endblock %}</h1>

        <nav>
            {% if user.is_authenticated %}
                <p>Вітаю, {{ user.username }}!</p>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Вийти</button>
                </form>
            {% endif %}
        </nav>
    </header>

    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>