{% extends 'todo/base.html' %}

{% block title %}Головна - To-Do App{% endblock %}

{% block header %}Ласкаво просимо до To-Do App!{% endblock %}

{% block content %}
<div class="centered_block">
<div class="unauth_container">
    <h2>Натисни кнопку нижче, щоб зарегеструватись:</h2>
        <button class="btn">Регестрація</button>
    <a href="{% url 'to_do_app:register' %}">
    </a>
    <h2>Натисни кнопку нижче, щоб залогінитися:</h2>
        <button class="btn">Увійти</button>
    <a href="{% url 'to_do_app:login' %}">
    </a>
</div>    
{% endblock %}