{% extends 'todo/base.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
    <div class="task-list">
        <h2 class="text-center mb-4">To-Do List</h2>

        <form method="GET" action="{% url 'to_do_app:search_task' %}" class="mb-4">
            <div class="input-group">
                {{ form.query }}
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <div class="task-actions">
            <a href="{% url 'to_do_app:add_task' %}" class="btn btn-primary btn-sm">Add New Task</a>
            <br><br>
            <a href="{% url 'to_do_app:Home' %}" class="btn btn-outline-danger">Home page</a>
        </div>

        <br>

        {% for task in tasks %}
            <div class="task-item">
                <div>
                    <span class="task-title">{{ task.task_name }}</span>
                    <p class="task-description">{{ task.description }}</p>
                    {% if task.due_date %}
                        <p class="task-description">{{ task.due_date }}</p>
                    {% endif %}
                    {% if task.complete %}
                        <span class="completed">Completed</span>
                        <a href="{% url 'to_do_app:task_complete' task.pk %}" class="btn btn-sm btn-outline-info">Mark as Uncompleted</a>
                    {% else %}
                        <a href="{% url 'to_do_app:task_complete' task.pk %}" class="btn btn-sm btn-success">Mark as Completed</a>
                    {% endif %}
                </div>
                <div class="task-actions">
                    <a href="{% url 'to_do_app:update_task' task.pk %}" class="btn btn-outline-warning">Update task</a>
                    <a href="{% url 'to_do_app:delete_task' task.pk %}" class="btn btn-outline-danger">Delete task</a>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No tasks available. Start by adding a task!</p>
        {% endfor %}
    </div>
{% endblock %}
