{% extends 'todo/base.html' %}

{% block title %}Додати задачу{% endblock %}

{% block content %}
<div class="add_task_container">
  <h1 class="plus">Додати нове завдання</h1>
  <div class="forms_container">
    <form method="POST" class="task-form">
      {% csrf_token %}

      <!-- Назва завдання -->
      <div class="form-group">
        {{ form.task_name.label_tag }}
        {{ form.task_name }}
      </div>

      <!-- Опис -->
      <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>

      <!-- Дата дедлайну -->
      <div class="form-group">
        {{ form.due_date.label_tag }}
        {{ form.due_date }}
      </div>

      <!-- Теги -->
      <div class="form-group">
        {{ form.tags.label_tag }}
        {{ form.tags }}
      </div>

      <!-- Кнопка збереження -->
      <div class="btn_add_task_container">
        <button type="submit" class="btn_add_task btn-primary">Зберегти завдання</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}