{% extends 'todo/base.html' %}

{% block title %}Головна - To-Do App{% endblock %}


{% block content %}
<header class="header"><h1>Ласкаво просимо до To-Do App!</h1>
</header>
<div class="container_home">
    <h5>Натисни кнопку нижче, щоб переглянути список завдань:</h5>
    <a href="{% url 'to_do_app:task-list' %}">
        <button class="btn">Перейти до списку завдань</button>
    </a>
    <h5>Натисни кнопку нижче, щоб додати завдання:</h5>
    <a href="{% url 'to_do_app:add_task' %}">
        <button class="btn">Додати завдання</button>
    </a>
    <h5>Натисни кнопку нижче, щоб створити список завдань:</h5>
    <a href="{% url 'todo_lists:create_tasks_list' %}">
        <button class="btn">Створити список</button>
    </a>
</div>
{% endblock %}