{% extends 'todo/base.html' %}

{% block title %}Увійти{% endblock %}

{% block content %}
    <h1>Вхід до облікового запису</h1>
  <div class="container_login">
    <form method="post">
<div class="container_login_form">
      {% csrf_token %}
      {{ form.as_p }}

      <button type="submit" class="btn btn-success">Увійти</button>
</div>
    </form>

    {% if form.errors %}
      <div class="alert alert-danger mt-3">
        <p>Невірне ім’я користувача або пароль.</p>
      </div>
    {% endif %}

    <p class="mt-3">
      Ще не маєш акаунта? <a href="{% url 'to_do_app:register' %}">Зареєструватися</a>
    </p>
    <p class="mt-4">
      Забули пароль? <a href="{% url 'to_do_app:password_reset' %}">Відновити пароль</a>
    </p>
  </div>
{% endblock %}