{% extends 'todo/base.html' %}

{% block title %}To-Do Tasks & Lists{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">To-Do List</h1>
<div class="container task-list">

    <aside class="task-sidebar mb-3">
        <a href="{% url 'to_do_app:add_task' %}" class="btn btn-primary btn-sm me-2">Add New Task</a>
        <a href="{% url 'todo_lists:create_tasks_list' %}" class="btn btn-success btn-sm me-2">Add New List</a>
        <a href="{% url 'to_do_app:Home' %}" class="btn btn-outline-danger btn-sm">Home page</a>
        <form method="get" action="{% url 'to_do_app:task-list' %}">
            <label for="filters">Фільтр:</label>
            <select name="filters" id="filters" onchange="this.form.submit()">
                <option value="">-- Усі --</option>
                <option value="done" {% if request.GET.filters == 'done' %}selected{% endif %}>Лише виконані</option>
                <option value="undone" {% if request.GET.filters == 'undone' %}selected{% endif %}>Лише невиконані</option>
            </select>

            <!-- зберігаємо значення поточного сортування -->
            <input type="hidden" name="sort" value="{{ request.GET.sort }}">
        </form>
<!--        Categories-->
        <h3 class="mt-5">Task Lists: </h3>
        {% if tasklists %}
        <ul class="list-group">
            {% for tasklist in tasklists %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'todo_lists:menu_list_task' tasklist.pk %}">
                    {{ tasklist.name }}
                </a>
                <div class="badge-container">
                    <p>Done:</p>
                        <span class="badge bg-success me-2">
                            {{ tasklist.success_percentage }}%
                        </span>
                    <span class="badge bg-primary rounded-pill">
                            {{ tasklist.tasks.count }}
                        </span>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No lists available.</p>
        {% endif %}
    </aside>

<div class="main_flex_container">
    <div class="search_container">

        <!--        SEARCH -->
    <form method="GET" action="{% url 'to_do_app:task-list' %}" class="search_form" >

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">пошук</button>
        <input type="hidden" name="sort" value="{{ request.GET.sort }}">
        <input type="hidden" name="filters" value="{{ request.GET.filters }}">
    </form>
     <!--        Sorting -->
        <form method="get" action="{% url 'to_do_app:task-list' %}">
            <label for="sort">Сортувати:</label>
            <select name="sort" id="sort" onchange="this.form.submit()">
                <option value="">-- Не сортувати --</option>
                <option value="done" {% if request.GET.sort == 'done' %}selected{% endif %}>Виконані вгорі</option>
                <option value="undone" {% if request.GET.sort == 'undone' %}selected{% endif %}>Невиконані вгорі</option>
                <option value="data_added" {% if request.GET.sort == 'data_added' %}selected{% endif %}>За датою</option>
            </select>

            <!-- зберігаємо значення поточного фільтра -->
            <input type="hidden" name="filters" value="{{ request.GET.filters }}">
        </form>
    </div>



    <h3 class="mt-4">Tasks: </h3>
    {% if tasks %}
        {% for task in tasks %}
            <article class="task-item d-flex justify-content-between align-items-start mb-3 p-3 border rounded">
                <div>
                    <h4 class="task-title mb-1">{{ task.task_name }}</h4>
                    <p class="task-description mb-1">{{ task.description }}</p>
                    <p class="task-description mb-1">{{ task.data_added }}</p>

                    {% if task.tags.exists %}
                    <p class="task-tags mb-1">
                        <strong>Tags:</strong>
                        {% for tag in task.tags.all %}
                            <span class="badge bg-secondary me-1">{{ tag.name }}</span>
                        {% endfor %}
                    </p>
                    {% endif %}

                    {% if task.due_date %}
                        <small class="text-muted">Due: {{ task.due_date|date:"d M Y, H:i" }}</small>
                    {% endif %}

                    {% if task.complete %}
                        <div class="mt-2">
                            <a href="{% url 'to_do_app:task_complete' task.pk %}" class="btn btn-sm btn-outline-info ms-2">Mark as Uncompleted</a>
                            <span class="badge bg-success">Completed</span>
                        </div>
                    {% else %}
                        <div class="mt-2">
                            <a href="{% url 'to_do_app:task_complete' task.pk %}" class="btn btn-sm btn-success">Mark as Completed</a>
                        </div>
                    {% endif %}
                </div>
                <div class="task-actions-tasks">
                    <a href="{% url 'to_do_app:update_task' task.pk %}" class="btn btn-outline-warning btn-sm">Update task</a>
                    <a href="{% url 'to_do_app:delete_task' task.pk %}" class="btn btn-outline-danger btn-sm">Delete task</a>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>No tasks without a list.</p>
    {% endif %}

{% endblock %}
</div>
</div>