//colors
$button-color: #007bff;
$button-hover-color: #0056b3;
$info-text-color: #555;
$background-color: #f7f7f7;
$header-fonts-color:#e9ecef;
$header-color:#343a40;

//fonts
$font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-base: 16px;

